* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: calc(100vw - 5px);
}

html{
  background-color: black;
}


::-webkit-scrollbar {
  width: 3px;
}

/* Track styles */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button {
  display: none;
}

@media (max-width: 425px) {
  body {
    width: calc(100vw - 2px);
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
}

.search-bar {
  border: none;
  outline: none;
  width: 200px;
}

.category-btn:hover {
  background-color: #fc1503 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
  opacity: 1;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
@media screen and (min-width: 770px) {
  .category-btn {
    margin: 10px;
  }
}
@media screen and (max-width: 430px) {
  .copyright {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .feed {
    height: 0vh;
  }
}
